<p>
  HandsonTable Load Test
</p>
<br><br>

<input type="button" (click)="doLoad()" value="Start Load and Render Data" style="cursor: pointer">

<br><br>
<div>{{errorMessage}}</div>
<hot-table *ngIf="isVisible"
  [colHeaders]="true"
  [rowHeaders]="true"
  [data]="rows"
  [colHeaders]="colHeaders"
  [columns]="columns"
  [minSpareRows]="1"
  [minRows]="4"
  [afterChange]="afterChange"
  [colWidths]="200"
  [hotId]="id"
  [afterInit]="onAfterInit"
  licenseKey="non-commercial-and-evaluation"
>
<!--  <hot-column data="linkValue" width="150px"  title="Link Value"></hot-column>-->
<!--  <hot-column data="mappedCode" width="150px" title="Mapped Code"></hot-column>-->
<!--  <hot-column data="mapDesc" width="150px" title="Mapped Desc"></hot-column>-->
<!--  <hot-column data="remarks" validator="this.emailValidator" width="150px" title="Remarks"></hot-column>-->
</hot-table>
<br>
<input type="button" (click)="oncCheck()" [disabled]="isChecked" value="Check" style="cursor: pointer"> &nbsp;
<input type="button" (click)="onSubmit()" [disabled]="!isChecked || errorMessage || !hasValue() " value="insert" style="cursor: pointer">

